.image {
    max-width: 100%;
    height: auto;
    }

@media only screen and (max-width: 800px) {
    nav a {
            display: block;
            width: 100%;
            margin: 5px 0;
            padding: 5px 0;
    }
}

.motto {float: right; margin-top: 0;}

nav {padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;}

nav {background-color: #59D5E0;}

nav a {color: #8b37e5;}
    
nav a:hover {
    background-color: #387ADF;
    color: #FFFFFF;
    }

p {color: #FFFFFF;}

body {
    background-image: url('../media/homepage.jpg');
    background-size: cover;
    width: auto;
    height: auto;
    }

h1, h2, h3 {color: #d7c437;
    text-align: center;}

.role {
    background-image: url('../media/role.jpg');
}

.strategy {
    background-image: url('../media/strategy.jpg');
}

.adventure {
    background-image: url('../media/adventure.jpg');
}

a {color: aquamarine;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.link {
    transition: color 0.3s ease-in-out;
}

.link:hover {
    color: #ff4500;
    transition: color 0.3s ease-in-out;
}

.genres div {
    transition: transform 0.3s ease;
}

.genres div:hover {
    transform: scale(1.1);
}
