body {
    background-color: #FFF7F1;
    color: #000000;
    padding: 20px;
}

a:link {color: #ffffff;}

a:visited {color: #ffffff;}

a:hover {color: #387ADF;}

h1, h2, h3 {color: #000000;
        text-align: center;}

nav {background-color: #000000;}

nav a {color: #ffffff;}

nav a:hover {
    background-color: #387ADF;
    color: #FFFFFF;}

nav {padding: 10px;
    margin-bottom: 30px;}

.motto {float: right; margin-top: 0;}

.clear {clear: both;}

.skills, .left, .right {display: flex;}

.left {flex: 3;
        justify-content: space-around;}

.right {flex: 1;}

.skills {margin-top: 40px;
        align-items: center;
        justify-content: space-between;}

.aside {background-color: #9bb5dd;
        border-radius: 10px;
        padding: 10px;}

.image {
        max-width: 100%;
        height: auto;
        }

@media only screen and (max-width: 800px) {
        nav a {
                display: block;
                width: 100%;
                margin: 5px 0;
                padding: 5px 0;
                flex-wrap: wrap;
        }
    }

    @media (max-width: 600px) {
        body {
          font-size: 0.8rem;
        }
      }
      

textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

html {
        font-size: 16px; 
      }
      
      body {
        font-size: 1rem;
      }
      
      h1 {
        font-size: 2rem;
      }
      
      p {
        font-size: 1rem;
      }

      .skip {
        background-color: rgb(7, 63, 44);
        color: #ffffff;
        padding: 8px;
        text-decoration: none;
        border: 2px solid orange;
        position: absolute;
        top: -10px;
    }
    .skip:focus {
        top: 0;
    }

      
            
            
            
