body {
    background-color: #FFF7F1;
    color: #000000;
    padding: 20px;
}

.skills, .left, .right {display: flex;}

.left {flex: 3;
        justify-content: space-around;}

.right {flex: 1;}

.skills {margin-top: 40px;
        align-items: center;
        justify-content: space-between;}

.aside {background-color: #387ADF;
        border-radius: 10px;
        padding: 10px;}
